body{
    background-color: blue;
}

header{
    background-color: red;
}

/*classe atribuida para a div que vai receber a logotipo*/
.logo{
    background-color: aliceblue;
}

nav{
    background-color: blueviolet;
}

main{
    background-color: midnightblue;
    weidh: 80%
}

section{
    background-color: black;
}

footer{
    background-color: mediumslateblue;
}